<div ng-controller="HomeCtrl as home" ng-cloak>
  <div class="row hidden-xs hidden-sm">
    <div ng-controller="ProfilesCtrl as profiles">
      <div ng-repeat="profile in profiles.members">
        <div ng-if="!profile.isWoz" class="col-xs-12 col-md-4 text-center">
          <div class="profile-border profile-icon-top">
            <p>
              <a href="<%= profile_path %>/{{ profile.id }}" data-no-turbolink="true">
                <div><img ng-src="{{ profile.iconSrc }}"></div>
                <div>{{ profile.username }}</div>
              </a>
            </p>
          </div>

          <div class="profile-border profile-last-seen">
            <p>Last seen: {{ profile.latestAction | timeFromNow }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group profile-icon-top" ng-show="home.inFeedBrowseMode()">
    <li class="list-group-item">
      <button class="btn-link faded" ng-click="home.newOnYourMindStatement()">What's on your mind?</button>
    </li>
  </ul>
  <form novalidate role="form" name="onYourMindForm" class="row" ng-show="home.inOnYourMindEntryMode()">
    <div class="form-group col-lg-8 col-md-8">
      <label for="new-on-your-mind-description">What's on your mind?</label>
      <input type="text" class="form-control" id="new-on-your-mind-description" ng-model="home.onYourMindModel.description" ng-maxlength="255" required focus-on="new-goal">
    </div>

    <div class="form-group col-lg-8 col-md-8">
      <button class="btn btn-primary" ng-click="home.saveOnYourMind()" ng-disabled="onYourMindForm.$invalid">Save</button>
      <button class="btn btn-default" ng-click="home.cancelOnYourMindEntryMode()">Cancel</button>
    </div>
  </form>

  <%= render "social_networking/homes/action_items" %>

  <ul class="list-group"
      id="infinite-feed"
      infinite-scroll="home.getMore()"
      infinite-scroll-immediate-check="true"
      infinite-scroll-disabled="false">
    <li ng-repeat="item in home.feedItems"
        ng-show="home.inFeedBrowseMode()"
        class="list-group-item"
        id="{{ item.className }}-{{ item.id }}">
      <p>
        <div class="media feed-item-displayname" ng-if="!item.data.summary.length">
          <div ng-if="item.isAdmin" class="media-left">
            <img class="feed-participant-icon" ng-src="{{ home.profileIconSrcFor(item) }}">
            </div>
          <div class="media-body">
            <span class="pull-right text-muted">{{home.timeAgoInWords(item.createdAt)}}</span>
            <strong>{{ home.profileDisplayNameFor(item) }}</strong>
            {{ item.summary }}
          </div>
        </div>
        <div class="media feed-item-displayname" ng-if="item.data.summary.length">
          <div ng-if="item.isAdmin" class="media-left">
            <img class="feed-participant-icon" ng-src="{{ home.profileIconSrcFor(item) }}">
          </div>
          <div class="media-body">
            <strong>{{ home.profileDisplayNameFor(item) }}</strong> {{ item.data.summary }}
          </div>
        </div>
      </p>

      <div class="actions">

        <a href="" ng-if="home.canAddLikeTo(item)" class="like" title="like this item" ng-click="home.addLikeTo(item)">
          Like ({{!!item.likes.length ? item.likes.length : 0}})
        </a>
        <a href="" ng-if="!home.canAddLikeTo(item)&&!!item.likes.length" class="likes"  title="show who likes this feed item" ng-click="item.showLikes = !item.showLikes">
          Like ({{item.likes.length}})
        </a>
        <span ng-if="home.canAddLikeTo(item) || !!item.likes.length">&nbsp;|&nbsp;</span>
        <a href="" class="comments" title="view comments" ng-click="item.showComments = !item.showComments">
          Comment ({{ item.comments.length ? item.comments.length : 0}})
        </a>
        <span ng-if="home.hasSummary(item)">&nbsp;|&nbsp;</span>
        <a href="" ng-if="home.hasSummary(item)" title="view details" ng-click="item.showSummary = !item.showSummary">
          <span ng-if="!item.showSummary">More</span>
          <span ng-if="!!item.showSummary">Less</span>
        </a>
      </div>

      <div class="media" ng-if="home.hasSummary(item)" ng-show="!!item.showSummary">
        <div class="media-left"></div>
        <div class="media-body" ng-include src="item.templatePath + '/_summary.html'">
          
        </div>
      </div>

      <div class="media" ng-show="!!item.showLikes">
        <div class="media-left"></div>
        <div class="media-body">
          <p>
            Liked by: <span ng-repeat="like in item.likes">{{ like.participantDisplayName }} </span>
          </p>
        </div>
      </div>

      <div class="media comment text-muted" ng-show="!!item.showComments" ng-repeat="comment in item.comments">
        <div class="media-left">
            <img class="media-object media-middle feed-participant-icon" ng-if="comment.isAdmin" ng-src="{{ home.profileIconSrcFor(comment) }}">
        </div>
        <div class="media-body">
          <strong>{{ home.profileDisplayNameFor(comment) }}</strong>: <span>{{ comment.text }}</span>
        </div>
      </div>

      <div class="media">
        <a href="" ng-show="!!item.showComments" ng-click="home.commentOn(item)">
          Add Comment
        </a>
      </div>

      <div class="media" ng-show="home.isCommentingOn(item)">
        <div class="media-left"></div>
        <div class="media-body">
          <form novalidate role="form" >
            <div class="form-group">
              <label for="comment-text">What do you think?</label>
              <input type="text" class="form-control" id="comment-text" ng-model="home.commentModel.text" ng-maxlength="255" required focus-on="new-comment">
            </div>

            <div class="form-group">
              <button class="btn btn-primary" ng-click="home.saveComment()" ng-disabled="commentOnForm.$invalid">Save</button>
              <button class="btn btn-default" ng-click="home.closeCommentForm()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </li>
  </ul>

  <div ng-repeat="profile in home.memberProfiles">
    <div profile-status></div>
  </div>
</div>

<!-- bootstrap Angular app with data -->
<script>
  angular.module('socialNetworking.values')
    .value('participantId', <%= current_participant.id %>)
    .value('actionItems', <%= action_items.to_json.html_safe %>)
    .value('feedItems', <%= feed_items.to_json.html_safe %>)
    .value('memberProfiles', <%= member_profiles.to_json.html_safe %>)
    .value('noticesEnabled', <%= Rails.configuration.enable_notices %>)
    .value('noticeUtility', Notice);
</script>
