<div ng-controller="ProfileCtrl as profile" ng-cloak>
  <div class="modal-container">
    <div class="modal fade" id="profile-icon-selection" tabindex="-1" role="dialog" aria-labelledby="icon-modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 id="icon-modal">
              <div ng-if="<%=@profile.icon_name.nil?%>">Start creating your profile by choosing a profile icon:</div>
              <div ng-if="<%=!@profile.icon_name.nil?%>">Choose a new profile icon:</div>
            </h3>
            <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true" id="icon-selection-button">×</button>
          </div>

          <div class="modal-body">
            <% @profile_icons.each_with_index do |icon_name, index| %>
              <% if 0 == index % 6 %><div class="row"><% end %>
              <div ng-click="profile.updateProfileIcon('<%= icon_name %>')" class="col-lg-2 col-sm-4 col-xs-4 text-center icon-selection">
                <%= image_tag 'social_networking/profile_icon_'+ icon_name +'.png' %>
              </div>
              <% if 5 == index % 6 || index + 1 == @profile_icons.size %></div><% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="text-center" id="profile-box">
    <div class="profile-box-content profile-box-border">
      <% if current_participant.id == @profile.participant_id %>
        <a href="" data-toggle="modal" data-target="#profile-icon-selection" id="profile-icon-selector">
      <% end %>

      <img ng-src="{{ profile.profile.iconSrc }}" id="profile-icon">

      <% if current_participant.id == @profile.participant_id %>
        </a>
      <% end %>

      <div class="profiles-username">
        <h3>{{ profile.profile.username }}</h3>
      </div>
    </div>

    <div class="profiles-last-online profile-box-border">
      <h3 ng-class="profile.profile.isAdmin ? 'invisible' : ''">
        Last seen: {{ profile.profile.latestAction | timeFromNow }}
      </h3>
    </div>

    <% if current_participant.id != @profile.participant_id %>
      <div class="profiles-nudge profile-box-border well well-lg">
        <a class="btn btn-lg btn-primary" href="" id="nudge-link" ng-click="profile.nudge(<%= @profile.participant_id %>)">Nudge</a>
        <br><span>{{ profile.nudgeAlert }}</span>
      </div>
    <% end %>
  </div>

  <div ng-repeat="alert in profile.getAlerts()" class="alert {{alert.cssClass}}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="profile.removeAlert(alert)">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    {{alert.message}}
  </div>
</div>

<%= render partial: "profile_questions", locals: { nudging_display_names: @nudging_display_names } %>

<div ng-controller="HomeCtrl as home">
  <%= render "social_networking/shared/comment_form" %>
  <ul class="list-group"
    id="infinite-feed"
    infinite-scroll="home.getMore()"
    infinite-scroll-immediate-check="true"
    infinite-scroll-disabled="false">
    <%= render "social_networking/shared/infinite_feed" %>
  </ul>
</div>

<form accept-charset="UTF-8" action="/social_networking/profile_icons" id="icon_change" method="post">
  <input id="profile_id" name="profile[profile_id]" type="hidden" value="<%= @profile.id %>"/>
  <input id="icon_name" name="profile[icon_name]" type="hidden" value="<%= @profile.icon_name %>"/>
</form>

<script>
  angular.module('socialNetworking')
          .value('currentParticipantId', <%= current_participant.id %>)
          .value('participantId', <%= @profile.participant_id %>)
          .value('profileId', <%= @profile.id %>)
          .value('ProfileQuestions', <%= @profile_questions.to_json.html_safe %>)
          .value('actionItems', [])
          .value('memberProfiles', <%= @member_profiles.to_json.html_safe %>)
          .value('feedItems', [])
          .value('noticesEnabled', <%= Rails.configuration.enable_notices %>)
          .value('noticeUtility', Notice)
          .value('resource', 'profiles_page');

  function displayProfileIcons() {
    if (<%= @profile.participant_id == current_participant.id %> && <%= @profile.icon_name.nil? %>) {
      $('#profile-icon-selection').modal('show');
    }
  }

  $(document).on("page:change", displayProfileIcons);
</script>
