<%= render "social_networking/shared/nav" %>

<div ng-controller="ProfileCtrl as profile">

  <div class="profiles-username">
    <h2><%= @profile.user_name %></h2>
  </div>
  <div class="profiles-last-online">
    <h3>Last seen: {{ '<%= @profile.latest_action_at %>' | timeFromNow }}</h3>
  </div>

  <% if current_participant.id != @profile.participant_id %>
    <div id="profile-nudge">
      <a href="" ng-click="profile.nudge()">Nudge</a>
    </div>
  <% end %>
</div>

<% if current_participant.id == @profile.participant_id && !@nudges.empty? %>
    <div class="alert alert-info" id="nudge-alert">
      <button type="button" class="close" data-dismiss="alert" onclick="$('#nudge-alert').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% if @nudges.size == 1 %>
        <%= @nudges[0].email %>
      <% elsif @nudges == 2 %>
        <%= @nudges[0] %> and <%= @nudges[0] %>
      <% else %>
        <% @nudges.each_with_index do |nudge, index| %>

           <% if index == (@nudges.size - 1) %>
            and <%= nudge.email %>
           <% else %>
           <%= nudge.email %><% if @nudges.size > 2 %>,<% end %>
           <% end %>

        <% end %>
      <% end %>
      buzzed you!
    </div>
<% end %>

<h3>Profile Questions</h3>

<ul class="list-group" ng-controller="ProfileQuestionsCtrl as profileQuestions">
  <div ng-controller="ProfileAnswerCtrl as answer">
    <li ng-repeat="question in profileQuestions.questions | orderBy:'order'" class="list-group-item" id="question-{{ question.id }}" ng-init="answer.storeAnswer(<%= @profile.id %>, question.id, answer)">
      <label> {{ question.question_text }} </label>

      <form novalidate role="form" name="answerForm" class="row" ng-show="answer._answerStates[question.id].editable">

        <input type="hidden" name="profile_question_id" value="{{ question.id }}" ng-if="answer.answerModels[question.id].id === null">
        <input type="hidden" name="profile_id" value="<%= @profile.id %>" ng-if="answer.answerModels[question.id].id === null">
        <input type="hidden" name="id" ng-if="answer.answerModels[question.id].id !== null">

        <div class="form-group col-lg-8 col-md-8">
          <input type="text" class="form-control" id="new-answer-description-{{question.id}}" ng-model="answer.answerModels[question.id].answer_text" ng-maxlength="255">
        </div>

        <div class="form-group col-lg-8 col-md-8">
          <button class="btn btn-primary" ng-click="answer.save(<%= @profile.id %>, question.id, answer)">Save</button>
          <button class="btn btn-default" ng-click="answer.cancelEdit(question.id, answer)">Cancel</button>
        </div>

      </form>

      <div class="list-group" ng-show="!answer._answerStates[question.id].editable">
        <label>
          {{ answer.answerModels[question.id].answer_text }}
        </label>

        <% if current_participant.id == @profile.participant_id %>
        <div class="form-group">
          <button class="btn btn-link pull-right edit" ng-click="answer.edit(question.id, answer)"><i class="fa fa-pencil"></i></button>
        </div>
        <% end %>
      </div>
    </li>
  </div>
</ul>

<!-- bootstrap Angular app with current participant id -->
<script>
  angular.module('socialNetworking')
          .value('participantId', <%= current_participant.id %>)
          .value('profileId', <%= @profile.id %>)
          .value('ProfileQuestions', <%= @profile_questions.to_json.html_safe %>);

</script>
