<div class="panel panel-default cdb_panel" id="comments-container">
  <div class="panel-heading">
    <h3 class="panel-title adjusted-panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#commentsCollapse">
        Comments
      </a>
    </h3>
  </div>

  <div id="commentsCollapse" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="table-responsive div-table-viz">
        <table class="table table-hover data-table" id="comments_data">
          <thead>
          <tr>
            <th class="not-displayed"></th>
            <th>Comment</th>
            <th>Commented On</th>
            <th>Created At</th>
            <th>Week</th>
          </tr>
          </thead>
          <tbody>
            <% membership.comments.each do |comment| %>
              <tr>
                <td class="not-displayed">
                  <%= comment.created_at.to_i %>
                </td>
                <td><%= comment.text %></td>
                <td><%= comment_item_description(comment) %> </td>
                <td><%= comment.created_at.to_s(:standard) %></td>
                <td><%= week_in_study(comment.created_at, membership) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    return $('#comments_data').dataTable({
      order: [[0, "desc"]],
      columnDefs: [
        {
          targets: [0],
          visible: false
        },
        {
          targets: [4],
          iDataSort: [0]
        }
      ]
    });
  });
</script>
